<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%=ListTitle%></h1>
    </div>

    <div class="box box2">
        <% items.forEach(function(res){ %>
        <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=res._id%>" onChange="this.form.submit()">  <!--This make anything as submit button-->
            <p><%=res.name%></p>
        </div>  
        <input type="hidden" name="listName" value="<%= ListTitle %>">
        </form>      
        <%  }); %>

    <form class="item" action="/" method="post">
        <input type="text" placeholder="Enter task" name="item" autocomplete="off">
        <button type="submit" name="List" value="<%= ListTitle %>">+</button>  <!-- value here means value of name "List" so it can be used by body parser-->
    </form>
    </div>

<%- include("footer") -%>